<!DOCTYPE html>
<html lang="en">
<head th:replace="compartilhados/head"></head>
<body class="skin-blue fixed-layout">
    <div th:replace="compartilhados/preloader"></div>

    <div id="main-wrapper">
        <header th:replace="compartilhados/header"></header>
        <aside th:replace="compartilhados/aside"></aside>
    </div>

    <div class="page-wrapper" style="min-height: 401px;">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Novo profissional</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <form id="formCadastro" th:attr="action=|${action}|" method="post">
                <fieldset>
                  <legend>Profissinal:</legend>
                  <div th:if="${profissional}">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" th:attr="value=|${profissional.nome}|" ><br><br>

                    <label for="observacao">Observação:</label>
                    <textarea id="observacao" name="observacao" th:text="${profissional.observacao}"></textarea><br><br>
                  </div>
                  <div th:unless="${profissional}">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome"><br><br>

                    <label for="observacao">Observação:</label>
                    <textarea id="observacao" name="observacao" ></textarea><br><br>
                  </div>
                  
                  <div th:if="${erro}">
                    <div class="alert alert-danger" role="alert" th:text="${erro}"></div>
                  </div>

                  <input type="submit" class="btn btn-primary" value="Enviar">
                </fieldset>
              </form>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>

    <footer th:replace="compartilhados/footer"></footer>
    
    <scripts th:replace="compartilhados/scripts"></scripts>
</body>

</html>