<!DOCTYPE html>
<html lang="en">
<head th:replace="compartilhados/head"></head>
<body class="skin-blue fixed-layout">
    <div id="main-wrapper">
        <header th:replace="compartilhados/header"></header>
    </div>

    <main>
      <section class="py-5 text-center container">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Profissionais</h4>
                </div>
                <div class="col-md-7 align-self-center text-end">
                  <div class="d-flex justify-content-end align-items-center">
                      <a type="button" href="/profissionais/novo" class="btn btn-info d-none d-lg-block m-l-15 text-white">Novo</a>
                  </div>
              </div>
            </div>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Observação</th>
                    <th scope="col">Data Criação</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-th-each="profissional : ${profissionais}">
                    <td data-th-text="${profissional.id}">...</td>
                    <td data-th-text="${profissional.nome}">...</td>
                    <td data-th-text="${profissional.observacao}">...</td>
                    <td data-th-text="${profissional.dataCriacao}">...</td>
                    <td class="table-action">
                      <a th:attr="href=|/profissionais/${profissional.id}/editar|" class="btn btn-warning">Alterar</a>
                    </td>
                    <td class="table-action">
                      <!-- <button class="btn btn-danger" th:attr="onclick=|excluir('${profissional.id}')|" >Excluir</button> -->
                      <button class="btn btn-danger" th:attr="onclick=|excluirAjax('${profissional.id}')|" >Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
      </section>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>

    <script>
      const excluir = (id) => {
        if( confirm("Confirma?") ){
          window.location.href = `/profissionais/${id}/excluir`
        }
      }

      const excluirAjax = async (id) => {
        if( confirm("Confirma?") ){
          const settings = {
              method: 'DELETE',
              headers: {
                  Accept: 'application/json',
                  'Content-Type': 'application/json',
              }
          };
          try {
              await fetch(`/api/profissionais/${id}`, settings);
              window.location.reload();
          } catch (e) {
              console.log(e);
          } 
        }
      }
      
    </script>
    <footer th:replace="compartilhados/footer"></footer>
    
    <scripts th:replace="compartilhados/scripts"></scripts>
</body>

</html>