<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>CRUD Desafio 21 dias Java</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Vector CSS -->
    <style>
        form label{
            width: 100px;
        }

        fieldset{
            padding: 20px;
            border-radius: 10px;
        }

        legend{
            border-bottom: 1px solid #000;
            margin-bottom: 30px;
        }

        input, textarea{
            width: 100%;
        }

        textarea{
            height: 200px;
        }

        .table-action{
            width: 50px;
        }
    </style>
</head>