<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/eliteadmin/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/eliteadmin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/eliteadmin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/eliteadmin/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- Flot Charts JavaScript -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/flot/jquery.flot.js"></script>
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<!--sparkline JavaScript -->
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!-- EASY PIE CHART JS -->
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>
<!-- Vector map JavaScript -->
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script
    src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- Chart JS -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/eliteadmin/dist/js/dashboard2.js"></script>