<!DOCTYPE html>
<html lang="en">
<head th:replace="compartilhados/head"></head>
<body class="skin-blue fixed-layout">
    <div id="main-wrapper">
        <header th:replace="compartilhados/header"></header>
    </div>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Dashboard</h1>
                    <p class="lead text-muted">Trabalho feito no desafio 21 dias de java.</p>
                    <p>
                        <a href="/profissionais" class="btn btn-primary my-2">Cadastrar
                            Profissionais</a>
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="compartilhados/footer"></footer>
    
    <scripts th:replace="compartilhados/scripts"></scripts>
</body>

</html>