<!DOCTYPE html>
<html lang="en">
<head th:replace="compartilhados/head"></head>
<body class="skin-blue fixed-layout">
    <div th:replace="compartilhados/preloader"></div>

    <div id="main-wrapper">
        <header th:replace="compartilhados/header"></header>
        <aside th:replace="compartilhados/aside"></aside>
    </div>

    <div class="page-wrapper" style="min-height: 401px;">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Dashboard</h4>
                </div>
                <div class="col-md-7 align-self-center text-end">
                    <div class="d-flex justify-content-end align-items-center">
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15 text-white">Cadastrar
                            Profissionais</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Site A Traffic</h5>
                            <div class="stats-row m-t-20 m-b-20">
                                <div class="stat-item">
                                    <h6>Growth</h6> <b>80.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Montly</h6> <b>20.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Daily</h6> <b>5.40%</b>
                                </div>
                            </div>
                        </div>
                        <div id="sparkline8" class="sparkchart"><canvas width="376" height="50"
                                style="display: inline-block; width: 376.664px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Site B Traffic</h5>
                            <div class="stats-row m-t-20 m-b-20">
                                <div class="stat-item">
                                    <h6>Growth</h6> <b>80.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Montly</h6> <b>20.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Daily</h6> <b>5.40%</b>
                                </div>
                            </div>
                        </div>
                        <div id="sparkline9" class="sparkchart"><canvas width="376" height="50"
                                style="display: inline-block; width: 376.664px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Site C Traffic</h5>
                            <div class="stats-row m-t-20 m-b-20">
                                <div class="stat-item">
                                    <h6>Growth</h6> <b>80.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Montly</h6> <b>20.40%</b>
                                </div>
                                <div class="stat-item">
                                    <h6>Daily</h6> <b>5.40%</b>
                                </div>
                            </div>
                        </div>
                        <div id="sparkline10" class="sparkchart"><canvas width="376" height="50"
                                style="display: inline-block; width: 376.664px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>

    <footer th:replace="compartilhados/footer"></footer>
    
    <scripts th:replace="compartilhados/scripts"></scripts>
</body>

</html>